body 
  font-family Arial
  font-size 16px
  margin 15px auto 0 auto
  background url(../../lib.jpg) no-repeat center center fixed black

h1 
  font-family Garamond, serif
  line-height 1em
  color #207dd0
  font-weight bold
  font-size 80px
  text-shadow 0px 0px 0 rgb(8,102,184),1px 1px 0 rgb(-7,87,169),2px 2px 0 rgb(-21,73,155),3px 3px 0 rgb(-36,58,140),4px 4px 0 rgb(-50,44,126),5px 5px 0 rgb(-65,29,111), 6px 6px 0 rgb(-79,15,97),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2)

.header 
  margin 0 auto

.header tbody tr td 
  text-align center

.map-container 
  margin 0 auto
  width 80%

.map 
  border solid 1px black

.link
  text-align center
  margin-top 15px

@media all and (max-width 480px) 
  /* styles for iPhone/Android landscape (and really narrow browser windows) */
  .notice 
    font-size 11px
  
@media all and (max-width 320px) 
  /* styles for iPhone/Android portrait */
  .notice 
      font-size 11px
  
@media all and (max-width 240px) 
  /* styles for smaller devices */
  .notice
    font-size 11px